.messages {
    padding: 16px;
    width: 100%;
    background-color: #002846;
    height: 400px;
    overflow-y: scroll;
    max-width: 100vw;
    word-break: break-all;
}

.message {
    margin: 8px 0;
}

input, textarea {
    outline: none;
    color: #002846;
    font-family: "Roboto Condensed";
}

textarea {
    resize: none;
}

img {
    width: 170px;
}

button#send-message {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    transform: translateY(35%);
    background: rgba(0, 0, 0, 0);
    border: none;
    right: 4px;
}

#username {
    margin-bottom: 12px;
}

.text-input {
    position: relative;
    align-items: center;
}

.text-input textarea {
    position: absolute;
}

button#send-message img {
    width: 100%;
    height: 100%;
}

.title {
    padding: 8px;
}

input[type="text"]#username{
    padding: 4px;
    font-size: 14px;
    width: 40%;
}

textarea#message{
    padding: 4px;
    font-size: 18px;
    width: 100%;
    border: 1px solid #84aeed;
    border-radius: 0 0 6px 6px;
    background-color:white;
}